@use "./resets";
@import "./samples";

$dark: #141414;
$dark-lighter: #202020;
$success: #00cc00;
$light: #ffffff;
$yellow-b:#FFC700;
$blue:#0499DD;


%link {
    @extend %link-style;
}

%green-btn {
    color: $light;
    background: linear-gradient(119deg, rgb(8, 93, 190) 50%, rgb(0, 137, 250) 85%, rgb(13, 213, 193));
    height: 40px;
    width: 190px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    &:hover{
        transform: scale(0.9);
    }
    &:active{
        transform: scale(0.8);
    }

}