.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    padding-top: 50px;

    .links {
        padding: 20px 150px;

        a {
            color: #333;
            text-decoration: none;
            display: block;
            padding: 5px 10px;

            &:hover {
                color: yellow;
            }
        }
    }

    .images {
        img {
            padding-left: 10px;
        }
    }
    
}