@import "./_samples";

$large-screen: 1100px;
$medium-screen: 855px;
$small-screen: 600px;

%link {
    @extend %link-style;
}


%blue-btn {
    @extend %btn;
    padding: 10px 35px;
    background-color: aqua;
    color: snow;
    border-radius: 20px;

}


$dark: #141414;
$dark-lighter: #202020;
$success: #00cc00;
$light: #ffffff;
