@import "../../assets/style/settings";


.nav-first {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 90px;
    align-items: center;
    background-color: transparent;
    top: 0;
    h1{
        margin-left: 100px;
    }
    a{
        color: white;
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;

        &:hover{
            color: orange;
        }
    }
    .nav-right {
        padding-left:  800px;
    }


}